<div class="card">
    <div class="cardheader">
        <h3>Login:</h3>
    </div>
    <div class="login">
        <form id="loginform">
            <div>
                <label for="usernameinputlogin">Username</label>
                <input type="text" id="usernameinputlogin">
            </div>
            <div>
                <label for="passwordinputlogin">Password</label>
                <input type="text" id="passwordinputlogin">
            </div>
            <button type="submit" id="loginbutton" class="button">Login</button>
        </form>
    </div>
</div>
<script src "js/login.js"></script>